<launch>
  <!-- Run the map server with a blank map -->
 <!--node name="map_server" pkg="map_server" type="map_server" args="$(find rbx1_nav)/maps/test_map1.yaml"/-->
    
  <include file="$(find elmachine)/launch/move_base.launch" />

  <!-- Run a static transform between /odom and /map -->
<!--node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /map /odom 10" /-->

  <node pkg="tf" type="static_transform_publisher" name="base_frame_laser" args="0.119 -0.075 0 0 0 0 /base_link /laser 50" /> 

</launch>
